.solo-countainer
  .solo-header
    .logo
      %a
        = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg", alt: "mercari"
  .solo-main
    .panel
      .login-newuser
        %p
          ="アカウントをお持ちでない方はこちら"
        %a
          ="新規会員登録"
      .login-sns
        .btn-default
          .btn-sns
            %button.btn-default.btn-sns.btn-sns-facebook
              %i.fa.fa-facebook-f
              ="Facebookでログイン"
        .btn-default
          .btn-sns
            %button.btn-default.btn-sns.btn-sns-google
              ="Googleでログイン"
      .login-form-inner
        .form-group
          = text_field_tag :keyword, '', class: 'login-input', placeholder: 'メールアドレス'
        .form-group
          = text_field_tag :keyword, '', class: 'login-input', placeholder: 'パスワード'
        .form-group
          %iframe(src="https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1555968629716&size=normal&cb=nw8xf9xhent" width="304" height="78" frameborder="0" style="border:0" allowfullscreen)
        .form-group
          .btn-default
            %button.btn-default.btn-red
              ="ログイン"
        %a
          ="パスワードをお忘れの方"
  .solo-footer
    %nav
      %ul
        %li
          ="プライバシーポリシー"
        %li
          ="メルカリ利用規約"
        %li
          ="特定商取引に関する表記"
    .solo-footer-logo
      %a
        = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg", alt: "mercari_footer"
    %p
      ="© 2019 Mercari"
