.solo-countainer
  =render "layouts/session-header"
  .solo-main
    .container
      .main-head
        ="新規会員登録"
      .main-inner
        .main-content
          .btn-default
            %button.btn-default.btn-mail
              %i.fa.fa-envelope-o
              = link_to "メールアドレスで登録", new_user_registration_path, class: "link_none"
          .btn-default
            .btn-sns
              %i.fa.fa-facebook-f
              = link_to "Facebookで登録", user_facebook_omniauth_authorize_path, class: "button btn-default btn-sns btn-sns-facebook"
          .btn-default
            .btn-sns
              = link_to "Googleで登録", user_google_omniauth_authorize_path, class: "button btn-default btn-sns btn-sns-google"
  =render "layouts/session-footer"
