.bread-crumbs
  %ul
    %li
      ="メルカリ "
    %li
      ="> マイページ"
.mypage-main
  .content
    .mypage-icon-section
      %a
        %figure
          = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", size: "60x60", alt: "顔写真", class: ".image"
        %h2
          ="ユーザー名"
        .mypage-score
          .right
            ="評価"
          %span
            ="4"
          .left
            ="出品数"
          %span
            ="5"
    .tab-container
      .tabs
        %li#tab1.is-active-item
          %h3
            %a
              ="お知らせ"
        %li#tab2
          %h3
            %a
              ="やることリスト"
      .tab-content
        .tab-notification
          %ul
          .not-found
            %li#notice1
              ="お知らせの商品はありません"
            %li#notice2.nonactive
              ="現在やることリストはありません"
    .tab-header
      .tab-head
        %h2
          ="購入した商品"
      .tabs
        %li#tab3.is-active-item
          %h3
            %a
              ="取引中"
        %li#tab4
          %h3
            %a
              ="過去の取引"
      .tab-content
        .tab-notification
          %ul
          .not-found
            %li#notice3
              ="お取り引き中の商品はありません"
            %li#notice4.nonactive
              ="過去に取引した商品はありません"
  .side
    .mypage-navi
      .mypage-navi-list
        %ul
          %li
            %a
              ="お知らせ"
              %i.fa.fa-angle-right
          %li
            %a
              ="やることリスト"
              %i.fa.fa-angle-right
          %li
            %a
              ="いいね！一覧"
              %i.fa.fa-angle-right
          %li
            %a
              ="出品する"
              %i.fa.fa-angle-right
          %li
            %a
              ="出品した商品 - 出品中"
              %i.fa.fa-angle-right
          %li
            %a
              ="出品した商品 - 取引中"
              %i.fa.fa-angle-right
          %li
            %a
              ="出品した商品 - 売却済み"
              %i.fa.fa-angle-right
          %li
            %a
              ="購入した商品 - 取引中"
              %i.fa.fa-angle-right
          %li
            %a
              ="購入した商品 - 過去の取引"
              %i.fa.fa-angle-right
          %li
            %a
              ="ニュース一覧"
              %i.fa.fa-angle-right
          %li
            %a
              ="評価一覧"
              %i.fa.fa-angle-right
          %li
            %a
              ="ガイド"
              %i.fa.fa-angle-right
          %li
            %a
              ="お問い合わせ"
              %i.fa.fa-angle-right
      .mypage-navi-head
        %h3
          ="メルペイ"
      .mypage-navi-list
        %ul
          %li
            %a
              ="売上・振込申請"
              %i.fa.fa-angle-right
          %li
            %a
              ="ポイント"
              %i.fa.fa-angle-right
      .mypage-navi-head
        %h3
          ="設定"
      .mypage-navi-list
        %ul
          %li
            %a
              ="プロフィール"
              %i.fa.fa-angle-right
          %li
            %a
              ="発送元・お届け先住所変更"
              %i.fa.fa-angle-right
          %li
            %a
              ="支払い方法"
              %i.fa.fa-angle-right
          %li
            %a
              ="メール/パスワード"
              %i.fa.fa-angle-right
          %li
            %a
              ="本人情報"
              %i.fa.fa-angle-right
          %li
            %a
              ="電話番号の確認"
              %i.fa.fa-angle-right
          %li
            %a
              ="ログアウト"
              %i.fa.fa-angle-right
