= render "layouts/header"
= render 'layouts/breadCrumbs'

.mypage-main
  .content
    .mypage-icon-section
      %a
        %figure
          = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", size: "60x60", alt: "顔写真", class: ".image"
        %h2
          = current_user.nickname
        .mypage-score
          .right
            ="評価"
          %span
            ="4"
          .left
            ="出品数"
          %span
            ="5"
    .tab-container
      .tabs
        %li#tab1.is-active-item
          %h3
            %a
              ="お知らせ"
        %li#tab2
          %h3
            %a
              ="やることリスト"
      .tab-content
        .tab-notification
          %ul
          .not-found
            %li#notice1
              ="お知らせの商品はありません"
            %li#notice2.nonactive
              ="現在やることリストはありません"
    .tab-header
      .tab-head
        %h2
          ="購入した商品"
      .tabs
        %li#tab3.is-active-item
          %h3
            %a
              ="取引中"
        %li#tab4
          %h3
            %a
              ="過去の取引"
      .tab-content
        .tab-notification
          %ul
          .not-found
            %li#notice3
              ="お取り引き中の商品はありません"
            %li#notice4.nonactive
              ="過去に取引した商品はありません"
  =render "layouts/sidemenu"
  =render "layouts/btn"
=render "layouts/footer"

