%section.items
  %h3.items__text
    - unless items.blank?
      %a.items__text-link
        #{word}新着アイテム
  - unless items.blank?
    .items__box
      = render partial: 'item', collection: items, as: 'item'
