.items__box__content
  - if item.trade_status === 2
    .items__box__content-sold
      .items__box__content-sold-out
        SOLD
  = link_to item_path(item.id), class:"item__page" do
    .item__page-photo
      = image_tag item.images.first.image.url,size:"230x220"
    .item__page__body
      %h3.item__page__body-name
        = item.name
      .item__page__body-price
        = "¥" + number_with_delimiter(item.price)
        .favourite
          %i.fa.fa-heart-o.like
          %span 
            46
      %p.item__page__body-tax
        (税込)
