#wrapper
  =render 'layouts/header'
  =render 'layouts/breadCrumbs'
  .mypage-main
    .content
      .content__logout
        %form.content__logout__page
          .content__logout__page__box
            %buttom.content__logout__page__box-btn 
              ログアウト
            %input{type: "hidden", name: "", value: ""}
    =render "layouts/sidemenu"
