#wrapper
  =render "layouts/header"

  .main
    %section.swiper-container
      .swiper-wrapper
        .swiper-slide
          %img.swiper-slide-img{src: "https://www.mercari.com/jp/assets/img/common/jp/top/banner-natsukashi.jpg"}/
        .swiper-slide
          %img.swiper-slide-img{src: "https://www.mercari.com/jp/assets/img/common/jp/top/banner-new-life.jpg"}/
        .swiper-slide
          %img.swiper-slide-img{src: "https://www.mercari.com/jp/assets/img/common/jp/top/banner-bokurano-heisei.jpg"}/
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
    .pickup__container
      %h2.pickup__container-head
        ピックアップカテゴリー
      %section.items
        %h3.items__text
          %a.items__text-link
            新着アイテム
        .items__box
          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://item-shopping.c.yimg.jp/i/l/linate_balenciaga-515528-txe08-4773"}/
              .item__page__body
                %h3.item__page__body-name
                  BALENCIAGA
                .item__page__body-price
                  ¥ 140,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 46
                %p.item__page__body-tax
                  (税込)

          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://thumbnail.image.rakuten.co.jp/@0_mall/fashionplate/cabinet/item_pic/balenciaga_pic/bal-item-0117-top.jpg?_ex=300x300"}/
              .item__page__body
                %h3.item__page__body-name
                  BALENCIAGA 財布
                .item__page__body-price
                  ¥ 120,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 32
                %p.item__page__body-tax
                  (税込)

          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://static-buyma-com.akamaized.net/imgdata/item/170802/0030299150/67335073/org.jpg"}/
              .item__page__body
                %h3.item__page__body-name
                  LOUIS　VUITTON
                .item__page__body-price
                  ¥ 16,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 17
                %p.item__page__body-tax
                  (税込)

          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://a.1stdibscdn.com/archivesE/upload/1121189/v_30758231501571402669/3075823_master.jpg?width=768"}/
              .item__page__body
                %h3.item__page__body-name
                  supream
                .item__page__body-price
                  ¥ 125,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 96                    
                %p.item__page__body-tax
                  (税込)
        .items__all
          %a
            全ての商品を見る
    .pickup__container
      %h2.pickup__container-head
        ピックアップブランド
      %section.items
        %h3.items__text
          %a.items__text-link
            新着アイテム
        .items__box
          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://item-shopping.c.yimg.jp/i/l/linate_balenciaga-515528-txe08-4773"}/
              .item__page__body
                %h3.item__page__body-name
                  BALENCIAGA
                .item__page__body-price
                  ¥ 140,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 46
                %p.item__page__body-tax
                  (税込)

          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://thumbnail.image.rakuten.co.jp/@0_mall/fashionplate/cabinet/item_pic/balenciaga_pic/bal-item-0117-top.jpg?_ex=300x300"}/
              .item__page__body
                %h3.item__page__body-name
                  BALENCIAGA 財布
                .item__page__body-price
                  ¥ 120,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 32
                %p.item__page__body-tax
                  (税込)

          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://static-buyma-com.akamaized.net/imgdata/item/170802/0030299150/67335073/org.jpg"}/
              .item__page__body
                %h3.item__page__body-name
                  LOUIS　VUITTON
                .item__page__body-price
                  ¥ 16,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 17
                %p.item__page__body-tax
                  (税込)

          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://a.1stdibscdn.com/archivesE/upload/1121189/v_30758231501571402669/3075823_master.jpg?width=768"}/
              .item__page__body
                %h3.item__page__body-name
                  supream
                .item__page__body-price
                  ¥ 125,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 96                    
                %p.item__page__body-tax
                  (税込)
        .items__all
          %a
            全ての商品を見る

      %section.items
        %h3.items__text
          %a.items__text-link
            新着アイテム
        .items__box
          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://item-shopping.c.yimg.jp/i/l/linate_balenciaga-515528-txe08-4773"}/
              .item__page__body
                %h3.item__page__body-name
                  BALENCIAGA
                .item__page__body-price
                  ¥ 140,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 46
                %p.item__page__body-tax
                  (税込)

          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://thumbnail.image.rakuten.co.jp/@0_mall/fashionplate/cabinet/item_pic/balenciaga_pic/bal-item-0117-top.jpg?_ex=300x300"}/
              .item__page__body
                %h3.item__page__body-name
                  BALENCIAGA 財布
                .item__page__body-price
                  ¥ 120,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 32
                %p.item__page__body-tax
                  (税込)

          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://static-buyma-com.akamaized.net/imgdata/item/170802/0030299150/67335073/org.jpg"}/
              .item__page__body
                %h3.item__page__body-name
                  LOUIS　VUITTON
                .item__page__body-price
                  ¥ 16,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 17
                %p.item__page__body-tax
                  (税込)

          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://a.1stdibscdn.com/archivesE/upload/1121189/v_30758231501571402669/3075823_master.jpg?width=768"}/
              .item__page__body
                %h3.item__page__body-name
                  supream
                .item__page__body-price
                  ¥ 125,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 96                    
                %p.item__page__body-tax
                  (税込)
        .items__all
          %a
            全ての商品を見る

  =render "layouts/footer"

  %a.sell__btn{href: root_path}
    .sell__btn-text
      出品
    %i.fa.fa-camera.sell__btn-text-icon
