#wrapper
  =render "layouts/header"

  =render "layouts/breadCrumbs"

  .item__box__container
    %h1.item__box__container-name
      正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ
    %p.item__box__container-itemDescription
      『正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ』は、911回の取引実績を持つ
      %a.item__box__container-itemDescription-link{href: root_path} BOON90sリバイバル@フォロー割
      さんから出品されました。
      %a.item__box__container-itemDescription-link{href: root_path} コーチ
      （
      %a.item__box__container-itemDescription-link{href: root_path} ショルダーバッグ/レディース
      ）の商品で、兵庫県から1~2日で発送されます。
    .item__box__container-main
      .item__box__container-main-photo
      %table.item__box__container-main-table
        %tr
          %th
            出品者
          %td
            %a.lightBlue-underline{href: root_path} BOON90sリバイバル@フォロー割
            .user-evaluation
              .user-evaluation-icon
                %i
                %span
              .user-evaluation-icon
                %i
                %span
              .user-evaluation-icon
                %i
                %span
        %tr
          %th
            カテゴリー
            %td
              %a.lightBlue-underline{href: root_path} レディース
              %a.lightBlue-underline{href: root_path} バッグ
              %a.lightBlue-underline{href: root_path} ショルダーバッグ
        %tr
          %th
            ブランド
            %td
              %a.lightBlue-underline{href: root_path} コーチ
        %tr
          %th
            商品の状態
          %td
            やや傷や汚れあり
        %tr
          %th
            配送料の負担
          %td
            送料込み(出品者負担)
        %tr
          %th
            配送の方法
          %td
            らくらくメルカリ便
        %tr
          %th
            発送元地域
          %td
            %a.lightBlue-underline{href: root_path} 沖縄県
        %tr
          %th
            発送日の目安
          %td
            1~2日で発送
    .item__box__container-priceBox
      %span.item__box__container-priceBox-price
        ¥ 3,380
      %span.item__box__container-priceBox-tax
        (税込)
      %span.item__box__container-priceBox-shippingFee
        送料込み
    .item__box__container-buyBtn
      売り切れました
    .item__box__container-detail
      %p.item__box__container-detail-inner
        ■商品ご覧頂き、誠にありがとうございます。
        ※今だけ、フォロワーになって下さった方に、300円のお値引きサービス中！！
        質問がありましたらコメントでよろしくお願いします！
        ■ 商品説明 ■
        まずはプロフを確認してください☆

        ■ 商品詳細 ■
        シンプルな落ち着いたお色味でどんな場面にも合い、
        どんな服にも合わせやすいお鞄です。使用感有！角擦れはございませんが
        多少の汚れはあります。内側はとても綺麗です☆
        使わなくなったのでどなたか使っていただける方お願いします。
        製造番号　H2K-9294

        【ブランド】
        COACH　コーチ

        【商品名】
        コーチ大き目シンプル

        【仕様】
        外ポケット１　内ポケット４

        【サイズ】
        縦：32
        横：31
        幅：7
        紐：130 多少調節可能

        ＊他にも数多くの商品を出品しているので、ぜひご覧ください。
        ＊複数購入、お取り置き(５日まで)もできるので、お気軽にお声がけくださいませ。
        ＊中古品になりますので、予めご理解いただきますよう、お願い致します^_^
        ※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。
        、お願い致します^_^
        ※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。
    .item__box__container-bottom
  .item__message
    .item__message__container
      .item__message__container__content
        %ul.item__message__container__content__message
          %li
            .item__message__container__content__message-user
            .item__message__container__content__message-body
              .item__message__container__content__message-body-text
              .item__message__container__content__message-body-icon
                %time.item__message__container__content__message-body-icon-left
                  %i 
                  %span
                .item__message__container__content__message-body-icon-right
              .item__message__container__content__message-body-right
  %ul.nav__items__link
    %li.nav__items__link-prev
      %a
    %li.nav__items__link-next
      %a
  .socialMedia__box
    %ul.socialMedia__box-link
      %li.socialMedia__box-link-facebook
        %i
      %li.socialMedia__box-link-twitter
        %i
      %li.socialMedia__box-link-pinterest
        %i
  .items__user__profile

  =render "layouts/footer"