.user__identification__container{
  margin: 0;
  background: #fff;
  .user__identification__headder{
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    h2{
      font-size: 22px;
      line-height: 1.4;
      font-weight: bold;
    }
  }
      .user__identification__form{
        padding: 64px;
        p{
          font-size: 14px;
          margin: 8px 0 0;
          line-height: 1.5;
        }
        .text-right{
          text-align: right;
          a{
            color: #0099e8;
            text-decoration: none;
          }
            p.icon-arrow-right{
              display: inline-block;
              font-family: 'icon-font';
              speak: none;
              font-style: normal;
              font-weight: 400;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
            }
          }
        .form-group{
          margin: 40px 0 0;
          label{
            font-size: 14px;
            font-weight: 600;
          }
          p{
            margin: 8px 0 0;
            line-height: 1.5;
          }
          span{
            background: #ccc;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          input{
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          select{
            width: 100%;
            position: relative;
            z-index: 2;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            .select-wrap{
              .select-default{
                position: absolute;
                right: 16px;
                top: 50%;
                z-index: 2;
                color: #888;
                font-size: 8px;
                transform: translate(0, -50%);
              }
            }
          }
        }
        .btn-default.btn-red{
        margin: 40px 0 0 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        min-height: 1.5em;
        }      
      }
}
