.bread-crumbs-font {
    font-weight: bold;
  }
.item__message__list-user-seller {
  margin-top: 8px;
  padding: 4px;
  background-color: #eef0f4;
  color: #333;
  // margin-left: 20px; 
  // position: absolute;
  // top: 60px;
  // left: 40px;
}
.user-evaluation {
  margin: 5px 0 0 5px;
  &-icon {
    display: inline-block;
    font-size: 20px;
    &-like {
      font-size: 12px;
    }
    &-smile {
      color: #ef5185;
    }
    &-normal {
      color: #fba933;
    }
    &-sad {
      color: #6ab5d8;
    }
  }
}
.item__box__container {
  padding: 24px 40px 40px;
  background-color: #fff;
  margin: 40px auto 0;
  width: 700px;
  &-name {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: bold;
  }
  &-itemDescription {
    margin-top: 8px;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
    &-link {
      text-decoration: none;
      color: #888;
      &:hover {
        opacity: 0.7;
        border-bottom: 1px solid #888;
      }
    }
  }
  &-main {
    margin-top: 16px;
    height: 375px;
    &-photo {
      position: relative;
      float: left;
      min-width: 300px;
      max-width: 300px;
      min-height: 375px;
      margin: 0 auto;
      background: #fafafa;
      &-sold {
        &::after {
        content: "";
        border-width: 120px 120px 0 0;
        border-color: #ea352d transparent;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 0;
        height: 0;
        border-style: solid;
        }
        &-out {
          top: 24px;
          font-size: 28px;
          position: absolute;
          left: 0;
          z-index: 2;
          color: #fff;
          transform: rotate(-45deg);
          letter-spacing: 2px;
          font-weight: bold;
        }
      }
    }
      .swiper-container {
        .swiper-my-pagination .swiper-pagination-bullet {
          width: 75px;
          height: 75px;
          max-height: none;
          position: relative;
          overflow: hidden;
          display: inline-block;
          border-radius: 0;
          background: transparent;
          opacity: 1;
        }
      }
    &-table {
      float: right;
      max-width: 300px;
      width: 100%;
      height: 382px;
      margin: 0 auto;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
      &-title {
        text-align: left;
        background-color: #f5f5f5;
        width: 39%;
        padding: 5px;
        // line-height: 35px;
      }
      &-link {
        @include lightBlue-underline;
        &-display {
          color: #0099e8;
        }
      }
    }
  }
  &-priceBox {
    margin-top: 24px;
    text-align: center;
    &-price {
      margin-right: 16px;
      font-size: 50px;
      font-weight: bold;
    }
    &-tax {
      font-size: 10px;
    }
    &-shippingFee {
      display: inline-block;
      font-size: 16px;
    }
  }
  &-buyBtn {
    background-color: #888;
    cursor: not-allowed;
    height: 60px;
    line-height: 60px;
    margin-top: 16px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: bold
  }
  &-detail {
    margin-top: 32px;
    line-height: 1.5;
    font-size: 18px;
    &-inner {
      white-space: pre-wrap;
    }
  }
  &-bottom {
    margin-top: 16px;
    @include clearfix;
    &-left {
      float: left;
      &-link {
        display: inline-block;
        color: #333;
        border: 1px solid #f5f5f5;
        background-color: #f5f5f5;
        padding: 8px 16px;
        border-radius: 40px;
        text-decoration: none;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    &-right {
      float: right;
      margin-top: 8px;
      &-link {
        @include lightBlue-underline;
      }
    }
  }
}
.item__message {
  width: 700px;
  margin: 8px auto;
  &__container {
    &__content {
      padding: 24px;
      background-color: #fff;
      &__message {
        display: block;
        &__list {
          margin-top: 46px;
          @include clearfix;            
          &-user {
            display: inline-block;
            float: left;
            position: relative;
            top: -20px;
            left: -50px;
            width: 50px;
            height: 40px;
            color: #333;
            &-picture {
              width: 40px;
              height: 40px;
              overflow: hidden;
              border-radius: 50%;
              background-color: #eee;
              text-align: center;
              &-img {
                width: 100%;
              }
            }
            &-name {
              width: 600px;
              min-width: 600px;
              overflow: hidden;
              position: relative;
              top: -50px;
              left: 56px;
              max-width: 100%;
              height: 1.2rem;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-weight: bold;
              margin-left: 15px; 
            }
          }
          &-body {
            float: right;
            width: 600px;
            position: relative;
            padding: 16px;
            background-color: #eef0f4;
            border-radius: 15px;
            line-height: 1.5;
            word-break: break-all;
            &-text {
              // white-space: pre-wrap;
            }
            &-icon {
              margin-top: 8px;
              &-left {
                float: left;
                display: block;
                color: #aaa;
              }
              &-right {
                float: right;
                color: #aaa;
                cursor: pointer;
              }
            }
            &-blowOut {
              &-mark {
                position: absolute;
                top: 0px;
                left: -8px;
                color: #eef0f4;
                font-size: 46px;
              }
            }
          }
        }
      }
    }
  }
}
.nav__items__link {
  margin: 24px auto 0;
  width: 700px;
  @include clearfix;
  &-prev {
    position: relative;
    float: left;
    width: 45%;
    word-wrap: break-word;
    padding-left: 14px;
    &-text {
    @include lightBlue-underline;
    }
  }
  &-next {
    position: relative;
    float: right;
    width: 55%;
    word-wrap: break-word;
    padding-right: 14px;
    text-align: right;
    &-text {
    @include lightBlue-underline;
    }
  }
}
.socialMedia__box {
  width: 700px;
  margin: 24px auto;
  padding: 32px 0 24px;
  background-color: #fff;
  &-link {
    margin-top: 16px;
    text-align: center;
    &-list {
      text-decoration: none;
      &-facebook {
        @include icon;
        &-icon {
          color: #385185;
          font-size: 44px;
          border-radius: 4px;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      &-twitter {
        @include icon;
        &-icon {
          color: #5d9dc9;
          font-size: 44px;
          border-radius: 4px;
          &:hover {
            opacity: .7;
          }
        }
      }
      &-pinterest {
        @include icon;
        &-icon{
          color: #aa262a;
          font-size: 44px;
          border-radius: 4px;
          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }
}
.items__user__profile {
  width: 700px;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  &__box {
    display: block;
    overflow: hidden;
    &-head {
      margin: 24px 0 8px;
      font-weight: bold;
      font-size: 22px;
      line-height: 1.4;
      &-title {
        font-weight: bold;
        color: #0099e8;
        text-decoration: none;
        &:hover {
          opacity: 0.7;
          border-bottom: 2px solid #0099e8;
        }
      }
    }
    .items {
      width: 940px;
      margin: 0 auto;
      box-sizing: border-box;
      &__text  {
        font-size: 22px;
        margin: 26px 11px;
        text-align: center;
        &-link {
          font-weight: bold;
          color: #0099e8;
        }
      }
      &__box {
        display: table;
        width: auto;
        margin: 0 auto;
        height: 330px;
        &__content {
          display: table-cell;
          display: inline-block;
          box-sizing: border-box;
          margin: 0 0 20px 30px;
          width: 213px;
          &:nth-child(2n+1) {
            margin: 0 0 20px 30px;
          }
          &:nth-child(3n+1) {
            margin: 0 0 20px;
          }
          .item__page {
            display: block;
            color: #333;
            background-color: #fff;
            &-photo {
              width: 100%;
              height: 220px;
              overflow: hidden;
              position: relative;
              padding: 0 0 100%;
              display: block;
              .picture {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                vertical-align: middle;
              }
            }
            &__body {
              padding: 16px;
              height: 110px;
              &-name {
                overflow: hidden;
                position: relative;
                font-size: 16px;
                font-weight: 400px;
                height: 3rem;
                line-height: 1.5;
                word-break: break-word;
                white-space: normal;
              }
              &-price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 8px 0 0;
                font-size: 17px;
                font-weight: bold;
                .favourite {
                  font-size: 16px;
                  font-weight: 400;
                }
              }
              &-tax {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
.swiper3.swiper-container {
    width: 100%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}
.swiper3.swiper-slide {
    background-size: cover;
    background-position: center;
}
.wrapper3{
    height: 80%;
    width: 100%;
}
.wrapper3{
    height: 20%;
    box-sizing: border-box;
}
.wrapper3 .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.wrapper3 .swiper-slide-active {
    opacity: 1;
}
