.solo-countainer{
  padding: 0 0 220px;
  position: relative;
  .solo-header{
    height: 128px;
    text-align: center;
    .logo{
      margin: 40px 0 0;
      display: inline-block;
      .session-home{
        width: 185px;
        height: 49px;
        line-height: 49px;
        display: inline-block;
        margin: 0 8px 0 0;
      }
    }
  }

  .solo-main{
    display: block;
    .panel{
      max-width: none;
      width: 456px;
      margin: 0 auto;
      background: #fff;
      .login-newuser{
        padding: 40px 64px;
        text-align: center;
        p{
          font-size: 13px;
        }
        .register-button{
          display: block;
          margin: 8px 0 0;
          border: 1px solid #0099e8;
          background: #0099e8;
          color: #fff;
          line-height: 40px;
          font-size: 13px;
          text-decoration: none;
        }
      }
      .login-sns{
        padding: 32px 64px;
        border-top: 1px solid #eee;
        @include buttont;
      }
      .login-form-inner{
        padding: 24px 64px 32px;
          .forget-password{
            display: block;
            margin: 40px 0 0;
            color: #0099e8;
            text-decoration: none;
            font-size: 13px;
          }
        .form-group{
          margin: 24px 0 0;
          @include buttont;
          &:first-child {
            margin: 0px;
          }
          .login-input{
            width: 100%;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
      }
    }
  }
}
