.new-item{
    position: relative;
    min-height: 100%;
    background: #f5f5f5;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1;
  .single-container{
    background-color: #f5f5f5;
    main{
      .new-item-sell{
        width: 700px;
        margin: 0 auto;
        background-color: #fff;
        .sell-container{
          .sell-container-inner{
            .single-head{
              text-align: center;
              padding: 32px 16px;
              font-size: 22px;
              font-weight: bold;
              line-height: 1.5;
            }
  // ここからフォーム
            .sell-form{
              border-top: 1px solid #eee;
              .upload-box{
                width: 620px;
                padding: 40px;
                &--text{
                  margin: 8px 0 0;
                  line-height: 1.5;
                }
                &-container{
                  display: block;
                  width: 620px;
                  margin: 16px auto 0;
                  &--items{
                    display: inline-block;
                    width: 100%;
                    float: right;
                    // justify-content: flex-start;
                  }
                  &--area{
                    width: 100%;
                    float: right;
                    padding: 40px;
                    position: relative;
                    min-height: 162px;
                    background: #f5f5f5;
                    border: 1px dashed #ccc;
                    font-size: 0;
                    text-align: center;
                    cursor: pointer;
                    &-info{
                      font-size: 14px;
                      line-height: 17px;
                      margin-top: 20px;
                      white-space: pre-wrap;
                      .info-br{
                      }
                    }
                  }
                  &--area2{
                    width: 100%;
                    float: right;
                    padding: 40px;
                    position: relative;
                    min-height: 162px;
                    background: #f5f5f5;
                    border: 1px dashed #ccc;
                    font-size: 0;
                    text-align: center;
                    cursor: pointer;
                    &-info{
                      font-size: 14px;
                      line-height: 8px;
                      margin-top: 20px;
                    }
                  }
                }
                &-container:after {
                  content: '';
                  display: block;
                  clear: both;
                }
              }
              .item-info-form{ //商品名、商品の説明
                &--nametext{
                  &-textfield{
                    width: 100%;
                    margin: 8px 0 0;
                    height: 48px;
                    box-sizing: inherit;
                    padding: 10px 16px 8px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    line-height: 1.5;
                    font-size: 16px;
                  }
                }
              }
              .item-description{
                margin-top: 40px;
                &-textarea{
                  margin: 8px 0 0;
                  display: block;
                  width: 100%;
                  max-width: 100%;
                  min-height: 104px;
                  padding: 10px;
                  border: 1px solid #ccc;
                  font-size: 16px;
                  line-height: 1.5;
                }
              }
              .sell-form-box{// カテゴリー
                float: right;
                width: 400px;
                margin: 0;
                .select-wrap{
                  margin: 8px 0 0;
                  position: relative;
                  .brand-box{
                    width: 100%;
                    margin: 8px 0 0;
                    height: 48px;
                    padding: 10px 16px 8px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    line-height: 1.5;
                    font-size: 16px;
                  }
                }
              }
                .sell-price-form{
                  .form-group{
                    .price-input-form{
                      .item-info-price{
                        width: 50%;
                        line-height: 48px;
                        font-weight: 600;
                        display: inline-block;
                        .item-info-required-price{
                          background: #ea352d;
                          margin: 0 0 0 8px;
                          padding: 3px 4px;
                          border-radius: 2px;
                          color: #fff;
                          font-size: 12px;
                          vertical-align: top;
                        }
                      }
                      .price-input-area{
                        width: 50%;
                        text-align: left;
                        float: right;
                        font-weight: 100;
                        text-align: right;
                        &--form{
                          display: inline-block;
                          width: 80%;
                          margin: 0 0 0 5%;
                        }
                        &__text{
                          width: 100%;
                          text-align: right;
                          margin: 0;
                          height: 48px;
                          padding: 10px 16px 8px;
                          border-radius: 4px;
                          border: 1px solid #ccc;
                          background: #fff;
                          line-height: 1.5;
                          font-size: 16px;
                        }
                      }
                      .price-input-area:after{
                        content: '';
                        display: block;
                        clear: both;
                      }
                    }
                  }
                  .sale-fee{
                    box-sizing: inherit;
                    padding: 24px 0;
                    border-top: 1px solid #ccc;
                    &--left{
                      float: left;
                    }
                    &--right{
                      float: right;
                    }
                  }
                  .sale-fee:after{
                    content: '';
                    display: block;
                    clear: both;
                  }
                  .sale-profit{
                    border-top: 1px solid #ccc;
                    padding: 24px 0;
                    font-weight: 600;
                    &--left{
                      float: left;
                      font-size: 16px;
                    }
                    &--right{
                      font-size: 34px;
                      float: right;
                      font-weight: 400;
                    }
                  }
                  .sale-profit:after{
                    content: '';
                    display: block;
                    clear: both;
                  }
                }
              .exhibition-btn{
                padding: 40px;
                border-top: 1px solid #eee;
                &-box{
                  &--notes-text{
                    line-height: 1.5;
                    &-link{
                      color: #0099e8;
                      text-decoration: none;
                    }
                  }
                  .notes-text-link:hover{
                    text-decoration: underline;
                    opacity: .7;
                  }
                }
                .exhibition__submit{
                  background: #ea352d;
                  border: 1px solid #ea352d;
                  color: #fff;
                  margin: 40px 0 0;
                  width: 100%;
                  display: block;
                  line-height: 48px;
                  font-size: 14px;
                  cursor: pointer;
                  text-align: center;
                }
                .exhibition__submit:hover{
                  background: #ea352d;
                  color: #fff;
                  text-decoration: none;
                }
                .back-btn{
                  width: 45%;
                  margin: 24px auto 0;
                  background: #aaa;
                  border: 1px solid #aaa;
                  color: #fff;
                  line-height: 48px;
                  font-size: 14px;
                  display: block;
                  cursor: pointer;
                  text-align: center;
                  text-decoration: none;
                }
                .back-btn:hover{
                  opacity: .7;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
//ページ内共通部分
.item-info{
  box-sizing: inherit;
  padding: 40px;
  border-top: 1px solid #eee;
}
.item-info:after{
  content: '';
  display: block;
  clear: both;
}
.item-info-guide{ //入力案内＋必須の共通部分
  font-weight: 600;
  display: inline-block;
  .item-info-required{
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 3px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
  .item-info-any{
    background: #ccc;
    margin: 0 0 0 8px;
    padding: 3px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
}
.sell-sub-head{
  color: #888;
  font-size: 14px;
  font-weight: 600;
  display: block;
  float: left;
  &--question{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0099e8;
    color: #fff;
    line-height: 17px;
    font-size: 12px;
    text-align: center;
  }
}
.form-group:first-child{
  margin: 0;
}
.form-group{
  margin: 40px 0 0;
  box-sizing: inherit;
}
.select-box{
  width: 100%;
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: #fff;
}
.arrow-down{
  position: absolute;
  right: 16px;
  top: 25%;
  z-index: 2;
  font-size: 1.7rem;
  color: #888;
}
option{
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
}
// li要素scss
.sell-price-form>li:first-child {
    padding: 0 0 24px;
    border: 0;
}
.upload-box:after{
  content: '';
  display: block;
  clear: both;
}
.preview__area{
  display: inline;
  .image-preview{
    width: 116px;
    height: 165px;
    margin: 0 0 10px 10px;
    display: inline-block;
    border: 1px solid #eee;
    &--container{
      height: 120px;
      width: auto;
      font-size: 14px;
      background: #f5f5f5;
      .item-image{
        max-width: 100%;
        max-height: 100%;
        position: relative;
        margin: auto;
        display: block;
        transform: none;
        top: 50%;
        -webkit-transform: translate(0, -50%);
      }
    }
    &--edit-delete{
      display: block;
      .image-edit{
        line-height: 45px;
        width: 50%;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        color: #0099e8;
        float: left;
        background: #f5f5f5;
        cursor: pointer;
      }
      .image-delete{
        line-height: 45px;
        width: 50%;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        color: #0099e8;
        float: right;
        border-left: 1px solid #eee;
        background: #f5f5f5;
        cursor: pointer;
      }
    }
  }
  .image-preview:first-child{
    width: 116px;
    height: 165px;
    margin: 0 0 10px 0;
    display: inline-block;
    border: 1px solid #eee;
  }
  .image-preview:nth-child(6){
    width: 116px;
    height: 165px;
    margin: 0 0 10px 0;
    display: inline-block;
    border: 1px solid #eee;
  }
}
