.red-btn{
  margin: 16px 0 16px 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}


.user-product{

  width: 700px;
  padding: 24px 40px 40px;
  background-color: white;
  margin: 40px auto 40px;
  width: 700px;
  border-width: 0;
  &__text-center{
    font-size: 16px;
    text-align: center;
  }
  &__stop{
    margin: 16px 0 16px 0;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
  &__destroy{
    margin: 16px 0 16px 0;
    background: black;
    border: 1px solid black;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
}
