.status__box
  .status__box__head 取引画面
  .status__box__message
    .status__box__message__alart
      %i.fa.fa-truck
      .span 受取完了報告をしてください
    %p 商品が発送されました。商品が到着したら、受取完了ボタンを押してください。
.status__box__button
  = link_to order_status_receive_item_transactions_path do
    .status__box__button.red-btn 受取完了
