.mypage-headder
  =render"layouts/header"
.bread-crumbs
  %ul
    %li
      ="メルカリ "
    %li
      ="> マイページ"
    %li
      ="> プロフィール"
.mypage-main
  
  .content
    .user__identification__container
      .user__identification__headder
        %h2
          ="本人情報の登録"
      .user__identification__form
        %p
          お客さまの本人情報をご登録ください。
          %br
          登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        %p(class="text-right")
          = link_to "本人確認書類のアップロードについて",target: "_blank" do
            %i(class="icon-arrow-right")
        .form-group
          %label
            お名前
          %p
            hoge
        .form-group
          %label
            お名前カナ
          %p
            hoge
        .form-group
          %label{for: "birthday"}
            生年月日
          %p
